@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Lato-Regular.woff2) format('woff2'), url(../fonts/Lato-Regular.woff2) format('woff');
}
html,
body {
  overflow-x: hidden;
}
.a {
  color: white;
  text-decoration: none;
}
.header {
  background: url('../images/header_bg.png') no-repeat;
  background-size: cover;
  height: 100vh;
}
@media (max-width: 425px) {
  .header {
    height: 65vh;
  }
}
.container {
  width: 1400px;
  height: inherit;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 1000px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 425px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 375px) {
  .container {
    width: 350px;
  }
}
.header__inner {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
  height: inherit;
  width: inherit;
}
@media (max-width: 1024px) {
  .header__inner {
    margin-left: -15px;
  }
}
.header__top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__top .logo {
  width: 85px;
  height: 85px;
}
.header__top .header__nav {
  width: 650px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .header__top .header__nav {
    display: none;
  }
}
.header__top .header__nav .a {
  color: white;
  text-decoration: none;
  font-family: Futura PT;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.header__top .header__social {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .header__top .header__social {
    display: none;
  }
}
.header__top .header__social .a__social {
  width: 24px;
  height: 24px;
}
.header__top .header__log {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1280px) {
  .header__top .header__log {
    display: none;
  }
}
.header__top .header__log .header__log-span {
  font-family: Futura PT;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF3333;
  margin: 0 10px;
}
.header__top .humburger-menu {
  display: none;
  width: 75px;
  height: 25px;
  position: relative;
  top: 0px;
  left: 0px;
}
@media (max-width: 1280px) {
  .header__top .humburger-menu {
    display: block;
  }
}
@media (max-width: 1024px) {
  .header__top .humburger-menu {
    margin-left: -15px;
  }
}
.header__top .humburger-menu .ham-check {
  position: absolute;
  visibility: hidden;
  z-index: 1;
}
.header__top .humburger-menu .label-ham {
  width: 75px;
  height: 25px;
  cursor: pointer;
}
.header__top .humburger-menu .label-ham .span-ham {
  position: relative;
  display: block;
  width: 75px;
  height: 2px;
  background: white;
}
.header__top .humburger-menu .label-ham .span-ham:before,
.header__top .humburger-menu .label-ham .span-ham:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
}
.header__top .humburger-menu .label-ham .span-ham:before {
  top: -10px;
}
.header__top .humburger-menu .label-ham .span-ham:after {
  top: 10px;
  right: 0%;
  width: 50px;
}
.header__top .humburger-menu .ham-wrap {
  display: none;
  flex-flow: column nowrap;
  width: 50vw;
  height: 100vh;
  position: relative;
  left: -700px;
  background: black;
}
@media (max-width: 768px) {
  .header__top .humburger-menu .ham-wrap {
    z-index: 1;
    width: 500px;
    top: -45px;
    left: -675px;
  }
}
@media (max-width: 425px) {
  .header__top .humburger-menu .ham-wrap {
    top: 30px;
    left: -340px;
    width: 400px;
  }
}
@media (max-width: 375px) {
  .header__top .humburger-menu .ham-wrap {
    top: 30px;
    left: -288px;
    width: 375px;
  }
}
.header__top .humburger-menu .ham-wrap .header__login {
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.header__top .humburger-menu .ham-wrap .header__login .ham-user {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
.header__top .humburger-menu .ham-wrap .header__login .header__log-span {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF3333;
}
.header__top .humburger-menu .ham-wrap .ul-ham {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.header__top .humburger-menu .ham-wrap .ul-ham .item-ham {
  width: 100%;
  padding: 20px;
  border-top: 1px solid #FF3333;
  border-bottom: 1px solid #FF3333;
}
.header__top .humburger-menu .ham-wrap .ul-ham .item-ham .link-ham {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: white;
}
.header__top .humburger-menu .ham-wrap .header__social {
  margin: 50px 20px;
}
.header__top .humburger-menu .ham-check:checked ~ .ham-wrap {
  display: flex;
}
.header__main {
  background: url('../images/header_bg.png') no-repeat contain;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header__main .pre {
  width: 1235px;
  height: 400px;
  margin: 10% 0;
  color: white;
  font-family: Lato;
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 140px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1600px) {
  .header__main .pre {
    height: 330px;
    font-size: 72px;
    line-height: 110px;
    text-align: center;
    margin: 5% 0;
  }
}
@media (max-width: 425px) {
  .header__main .pre {
    font-size: 35px;
    line-height: 45px;
    height: 50px;
  }
}
.header__main .pre .header__main-img {
  width: 140px;
  height: 140px;
}
@media (max-width: 425px) {
  .header__main .pre .header__main-img {
    display: none;
  }
}
@media (max-width: 425px) {
  .header__main .pre .adapt {
    margin-left: -40px;
  }
}
.header__main .header__main-log {
  display: flex;
  margin: 0px 0;
}
@media (max-width: 425px) {
  .header__main .header__main-log {
    flex-flow: column nowrap;
  }
}
.header__main .header__main-log .p {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  width: 300px;
}
@media (max-width: 425px) {
  .header__main .header__main-log .header__main-p {
    margin: 30px 0;
  }
}
.header__main .header__main-log .form {
  width: 240px;
  height: 70px;
  margin: 0 20px;
  position: relative;
  top: 50px;
  transform: translateY(-50%);
}
.header__main .header__main-log .form .input {
  width: inherit;
  height: inherit;
  background: #FF3333;
  color: white;
  padding: 20px;
}
.slots {
  width: 100%;
  height: 15vh;
  background: url('../images/items-bg.jpg') no-repeat;
  background-size: 100%;
}
@media (max-width: 1024px) {
  .slots {
    height: 10vh;
  }
}
@media (max-width: 768px) {
  .slots {
    height: 8vh;
  }
}
@media (max-width: 425px) {
  .slots {
    height: 4vh;
  }
}
.aim {
  width: 100%;
  height: auto;
}
@media (max-width: 1280px) {
  .aim {
    height: 290vh;
    margin-bottom: -100px;
  }
}
@media (max-width: 768px) {
  .aim {
    height: 455vh;
    margin-bottom: -800px;
  }
}
@media (max-width: 425px) {
  .aim {
    height: 515vh;
    margin-bottom: -1600px;
  }
}
.blocks {
  margin: 60px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 1280px) {
  .blocks {
    flex-flow: row wrap;
  }
}
@media (max-width: 768px) {
  .blocks {
    justify-content: center;
  }
}
.block {
  padding: 20px;
  width: 320px;
  height: 280px;
  border-radius: 10px;
  background: url('../images/block-bg.png') no-repeat;
  background-size: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  color: white;
}
.aim__above {
  height: 750px;
  background: url('../images/aim-bg.jpg') no-repeat;
  background-size: 122%;
}
@media (max-width: 1600px) {
  .aim__above {
    background-size: 125%;
  }
}
@media (max-width: 1440px) {
  .aim__above {
    background-size: 141%;
  }
}
@media (max-width: 1280px) {
  .aim__above {
    background-size: 220%;
    height: 42%;
    margin-bottom: -1px;
  }
}
@media (max-width: 1024px) {
  .aim__above {
    background-size: 275%;
  }
}
@media (max-width: 768px) {
  .aim__above {
    background-size: 576%;
  }
}
@media (max-width: 425px) {
  .aim__above {
    background-size: 1180%;
  }
}
@media (max-width: 375px) {
  .aim__above {
    background-size: 1334%;
  }
}
.aim__inner {
  padding: 100px 0;
}
.aim__inner .h1 {
  font-family: Lato;
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.aim__inner .aim__p {
  font-family: Futura PT;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin: 20px 0;
}
.aim__inner .aim__blocks {
  margin: 60px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 1280px) {
  .aim__inner .aim__blocks {
    flex-flow: row wrap;
  }
}
@media (max-width: 768px) {
  .aim__inner .aim__blocks {
    justify-content: center;
  }
}
.aim__inner .aim__blocks .aim__block {
  padding: 20px;
  width: 320px;
  height: 280px;
  border-radius: 10px;
  background: url('../images/block-bg.png') no-repeat;
  background-size: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  color: white;
}
@media (max-width: 1280px) {
  .aim__inner .aim__blocks .aim__block {
    margin: 20px;
    width: 400px;
  }
}
.aim__inner .aim__blocks .aim__block .block-img {
  height: 85px;
}
.aim__inner .aim__blocks .aim__block .aim__block-p {
  font-family: Calistoga;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  height: 140px;
  margin: 20px 0;
}
.aim__middle {
  background: url('../images/aim-mid-bg.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 425px) {
  .aim__middle {
    height: 400px;
  }
}
.aim__middle .aim__middle-p {
  color: white;
  font-family: Futura PT;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
  width: 750px;
}
@media (max-width: 425px) {
  .aim__middle .aim__middle-p {
    font-size: 30px;
    line-height: 39px;
    width: 80%;
  }
}
.aim__under {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 560px;
}
@media (max-width: 768px) {
  .aim__under {
    flex-flow: row wrap;
  }
}
.aim__under .aim__under-left {
  height: 330px;
}
@media (max-width: 425px) {
  .aim__under .aim__under-left {
    height: 200px;
  }
}
.aim__under .aim__under-left .aim__under-span {
  display: block;
  margin: 20px 0;
  font-family: Futura PT;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
}
@media (max-width: 425px) {
  .aim__under .aim__under-left .aim__under-span {
    font-size: 50px;
    line-height: 65px;
  }
}
.aim__under .aim__under-left .text-left {
  text-align: left;
}
.aim__under .aim__under-right {
  height: 330px;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 425px) {
  .aim__under .aim__under-right {
    width: 335px;
  }
}
.aim__under .aim__under-right .aim__under-p {
  margin: 15px 0;
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  width: 335px;
}
.stack {
  height: 120vh;
  background: black url('../images/stack-bg.png') no-repeat center 20%;
}
@media (max-width: 1600px) {
  .stack {
    height: 140vh;
  }
}
@media (max-width: 1280px) {
  .stack {
    height: 170vh;
  }
}
@media (max-width: 768px) {
  .stack {
    height: 235vh;
  }
}
@media (max-width: 425px) {
  .stack {
    height: 190vh;
  }
}
.stack .stack__inner {
  height: 100vh;
  padding: 100px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.stack .stack__inner .stack__title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 1240px;
  margin: 120px auto;
}
@media (max-width: 1280px) {
  .stack .stack__inner .stack__title {
    width: 1200px;
  }
}
@media (max-width: 1024px) {
  .stack .stack__inner .stack__title {
    width: 1000px;
  }
}
@media (max-width: 768px) {
  .stack .stack__inner .stack__title {
    width: 750px;
  }
}
@media (max-width: 425px) {
  .stack .stack__inner .stack__title {
    width: 100%;
    margin: 0 0;
  }
}
@media (max-width: 375px) {
  .stack .stack__inner .stack__title {
    width: 350px;
  }
}
.stack .stack__inner .stack__title .stack__title-h2 {
  font-family: Lato;
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 143px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 50px 0;
}
@media (max-width: 768px) {
  .stack .stack__inner .stack__title .stack__title-h2 {
    font-size: 50px;
    line-height: 65px;
    text-align: center;
  }
}
.stack .stack__inner .stack__title .stack__title-p {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 20px 0;
}
.stack .stack__inner .stack__title .stack__title-p1 {
  width: 230px;
  align-self: flex-start;
}
@media (max-width: 425px) {
  .stack .stack__inner .stack__title .stack__title-p1 {
    font-size: 20px;
    width: 180px;
    line-height: 26px;
    align-self: center;
  }
}
.stack .stack__inner .stack__title .stack__title-p2 {
  width: 300px;
  align-self: flex-end;
}
@media (max-width: 425px) {
  .stack .stack__inner .stack__title .stack__title-p2 {
    font-size: 20px;
    width: 180px;
    line-height: 26px;
    align-self: center;
  }
}
.stack .stack__inner .stack__blocks .stack__block {
  height: 200px;
  width: 320px;
  padding: 35px 0;
  box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.3);
}
.stack .stack__inner .stack__blocks .stack__block .stack__block-p--bold {
  width: 155px;
  font-weight: bold;
  margin: 10px 0;
}
@media (max-width: 1280px) {
  .stack .stack__inner .stack__blocks .stack__block {
    margin: 20px 0;
    width: 400px;
  }
}
.packet {
  height: 800px;
}
.packet__inner {
  display: flex;
  flex-flow: column nowrap;
  margin: 80px 0;
}
.packet__inner .packet__title {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .packet__inner .packet__title {
    flex-flow: column nowrap;
  }
}
.packet__inner .packet__title .packet__title-h2 {
  font-family: Lato;
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 143px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
@media (max-width: 768px) {
  .packet__inner .packet__title .packet__title-h2 {
    font-size: 72px;
  }
}
@media (max-width: 425px) {
  .packet__inner .packet__title .packet__title-h2 {
    font-size: 50px;
    line-height: 65px;
  }
}
.packet__inner .packet__title .packet__title-p {
  width: 420px;
  align-self: end;
}
@media (max-width: 425px) {
  .packet__inner .packet__title .packet__title-p {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
}
.packet__inner .packet__slider {
  margin: 80px 0;
  display: flex;
}
.packet__inner .packet__inner .packet__slider {
  margin: 80px 0;
  display: flex;
  height: 450px;
  align-items: center;
  position: relative;
}
.packet__inner .slick-list,
.packet__inner .draggable {
  width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .packet__inner .slick-list,
  .packet__inner .draggable {
    width: 870px;
  }
}
@media (max-width: 1024px) {
  .packet__inner .slick-list,
  .packet__inner .draggable {
    width: 560px;
  }
}
@media (max-width: 768px) {
  .packet__inner .slick-list,
  .packet__inner .draggable {
    width: 250px;
  }
}
@media (max-width: 375px) {
  .packet__inner .slick-list,
  .packet__inner .draggable {
    width: 200px;
  }
}
.packet__inner .slick-slide,
.packet__inner .slick-current,
.packet__inner .slick-active {
  width: 250px;
  height: 360px;
  border-radius: 10px;
  border: 1px solid #FF3333;
  margin: 0 30px;
}
@media (max-width: 375px) {
  .packet__inner .slick-slide,
  .packet__inner .slick-current,
  .packet__inner .slick-active {
    width: 200px;
    margin: 0px 26px;
  }
}
.packet__inner .prev {
  width: 65px;
  height: 60px;
  margin-right: 30px;
  background: url('../images/arrow-left.png') no-repeat;
}
@media (max-width: 425px) {
  .packet__inner .prev {
    width: 40px;
    height: 40px;
    background-size: 100%;
    margin-right: 15px;
  }
}
.packet__inner .next {
  width: 65px;
  height: 60px;
  margin-left: 30px;
  background: url('../images/arrow-right.png') no-repeat;
}
@media (max-width: 425px) {
  .packet__inner .next {
    width: 40px;
    height: 40px;
    background-size: 100%;
    margin-left: 15px;
  }
}
.packet__inner .slick-arrow {
  align-self: center;
}
.packet__inner .packet__slide {
  position: relative;
  height: 360px;
  display: flex !important;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center !important;
}
.packet__inner .packet__slide:before {
  content: ' ';
  width: 85px;
  height: 85px;
  display: block;
  background: url('../images/VIP.png') no-repeat;
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translateX(-50%);
}
.packet__inner .packet__span {
  display: block;
  width: 100%;
  margin: 10px 0;
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
}
.packet__inner .packet__span-access {
  margin-top: 40px;
}
.packet__inner .pocket__slide-span--red {
  color: #FF3333;
  font-family: Futura PT;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
}
.packet__inner .pocket__slide-span--black {
  font-weight: bold;
}
.system {
  height: 160vh;
  background: url('../images/system-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1600px) {
  .system {
    height: 170vh;
    background-position: center center;
  }
}
@media (max-width: 1024px) {
  .system {
    background: url('../images/section1_bg.png') no-repeat black;
    height: 275vh;
  }
}
@media (max-width: 425px) {
  .system {
    height: 330vh;
  }
}
.section__inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}
.section__inner .system__title {
  position: relative;
  top: 40px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: space-between;
}
.section__inner .system__title .system__title-h2 {
  font-family: Lato;
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 143px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin: 40px 0;
}
@media (max-width: 1024px) {
  .section__inner .system__title .system__title-h2 {
    font-size: 72px;
  }
}
@media (max-width: 425px) {
  .section__inner .system__title .system__title-h2 {
    font-size: 50px;
    line-height: 60px;
  }
}
.section__inner .system__title .system__title-p {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  width: 360px;
  position: absolute;
  right: 0;
  top: 70%;
}
@media (max-width: 375px) {
  .section__inner .system__title .system__title-p {
    width: 300px;
  }
}
.section__inner .system__blocks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 30px 0;
}
@media (max-width: 1024px) {
  .section__inner .system__blocks {
    flex-flow: row wrap;
    justify-content: center;
  }
}
.section__inner .system__blocks .system__block {
  width: 555px;
  height: 715px;
  background: url('../images/block-bg.png') no-repeat;
  background-size: cover;
  margin: 0 15px;
  border-radius: 20px;
  box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.3);
}
@media (max-width: 1024px) {
  .section__inner .system__blocks .system__block {
    margin: 80px 0;
  }
}
@media (max-width: 425px) {
  .section__inner .system__blocks .system__block {
    width: 350px;
    height: 965px;
    background-size: 315%;
    margin: 40px 0;
  }
}
.section__inner .system__blocks .system__block .system__block-text {
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 10px;
}
.section__inner .system__blocks .system__block .system__block-text .znack {
  width: 50px;
  height: 50px;
  align-self: center;
  margin-bottom: 20px;
}
.section__inner .system__blocks .system__block .system__block-text .znack2 {
  width: 50px;
  height: 50px;
  align-self: center;
  margin-bottom: 70px;
}
.section__inner .system__blocks .system__block .system__block-text .system__block-p--bold {
  font-family: Futura PT;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin: 30px;
  width: 150px;
}
.section__inner .system__blocks .system__block .system__block-text .system__block-p {
  margin: 30px;
}
.section__inner .system__blocks .system__block .double {
  display: flex;
}
.section__inner .system__blocks .system__block .double .system__block-text--left {
  width: 210px;
}
.section__inner .system__blocks .system__block .double .system__block-text--right {
  width: 315px;
}
.section__inner .system__blocks .system__block .double .p-b {
  font-family: Futura PT;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
.promo {
  padding: 100px 0;
}
@media (max-width: 1280px) {
  .promo {
    padding: 0px 0;
  }
}
.promo .promo__h2 {
  font-family: Lato;
  font-size: 400px;
  font-style: normal;
  font-weight: 500;
  line-height: 520px;
  letter-spacing: 0em;
  text-align: center;
  color: #FF3333;
}
@media (max-width: 1600px) {
  .promo .promo__h2 {
    font-size: 300px;
  }
}
@media (max-width: 1280px) {
  .promo .promo__h2 {
    font-size: 200px;
  }
}
@media (max-width: 1024px) {
  .promo .promo__h2 {
    font-size: 100px;
    margin-bottom: -130px;
  }
}
@media (max-width: 425px) {
  .promo .promo__h2 {
    font-size: 70px;
    line-height: 91px;
    margin: 50px 0;
  }
}
.promo .promo__h2:before {
  content: ' ';
  width: 150px;
  height: 150px;
  display: inline-block;
  background: url('../images/promo.png') no-repeat;
  background-size: cover;
  margin: 0 70px;
}
@media (max-width: 1024px) {
  .promo .promo__h2:before {
    width: 100px;
    height: 100px;
    margin: -20px 70px;
  }
}
@media (max-width: 425px) {
  .promo .promo__h2:before {
    width: 30px;
    height: 30px;
    margin: 10px 10px;
  }
}
.promo .promo__h2:after {
  content: ' ';
  width: 150px;
  height: 150px;
  display: inline-block;
  background: url('../images/promo.png') no-repeat;
  background-size: cover;
  margin: 0 70px;
}
@media (max-width: 1024px) {
  .promo .promo__h2:after {
    width: 100px;
    height: 100px;
    margin: -20px 70px;
  }
}
@media (max-width: 425px) {
  .promo .promo__h2:after {
    width: 30px;
    height: 30px;
    margin: 8px 10px;
  }
}
.promo .promo__inner {
  margin-top: 100px;
}
.pre2 {
  font-family: Lato;
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 143px;
  letter-spacing: 0em;
  color: black;
}
@media (max-width: 1024px) {
  .pre2 {
    margin-left: -75px;
  }
}
@media (max-width: 768px) {
  .pre2 {
    font-size: 72px;
  }
}
@media (max-width: 425px) {
  .pre2 {
    font-size: 50px;
    line-height: 65px;
    text-align: center;
  }
}
.pre2 img {
  width: 70px;
  height: 70px;
}
.pre2-small {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  width: 340px;
  color: black;
  display: inline-block;
}
@media (max-width: 425px) {
  .pre2-small {
    font-size: 18px;
    line-height: 23px;
    width: 100%;
    display: block;
    margin: 10px 0;
  }
}
.promo__quick {
  border: 1px solid  #FF3333;
  padding: 100px;
}
@media (max-width: 768px) {
  .promo__quick {
    height: 1200px;
  }
}
@media (max-width: 425px) {
  .promo__quick {
    padding: 20px;
  }
}
.promo__quick .promo__quick-p {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: black;
}
@media (max-width: 425px) {
  .promo__quick .promo__quick-p {
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
  }
}
.promo__quick .promo__block {
  background: none;
  color: black;
  flex-basis: 31%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .promo__quick .promo__block {
    flex-basis: 40%;
  }
}
@media (max-width: 1024px) {
  .promo__quick .promo__block {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .promo__quick .promo__block {
    flex-basis: 100%;
  }
}
@media (max-width: 425px) {
  .promo__quick .promo__block {
    padding: 0;
  }
}
.promo__quick .promo__block .promo__block-p--bold {
  font-family: Futura PT;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0.02em;
  width: 50%;
  text-align: left;
}
.promo__quick .promo__block .promo__x2 {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.promo__quick .promo__block .promo__block-p {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: black;
  text-align: left;
}
.heat {
  padding: 100px 0;
}
@media (max-width: 425px) {
  .heat {
    padding: 0px;
  }
}
.heat .h3 {
  font-family: Lato;
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 143px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  margin-left: 130px;
}
@media (max-width: 425px) {
  .heat .h3 {
    margin-left: 0;
    font-size: 50px;
    line-height: 65px;
  }
}
.heat .heat-p,
.heat .promo__progress-p {
  margin: 45px 130px;
}
@media (max-width: 425px) {
  .heat .heat-p,
  .heat .promo__progress-p {
    margin: 10px 0px;
  }
}
.heat .progress__blocks {
  border: 1px solid  #FF3333;
  padding: 100px;
  flex-flow: column nowrap;
}
@media (max-width: 1280px) {
  .heat .progress__blocks {
    height: 125vh;
  }
}
@media (max-width: 1024px) {
  .heat .progress__blocks {
    height: 150vh;
  }
}
@media (max-width: 768px) {
  .heat .progress__blocks {
    height: 110vh;
    padding: 0;
  }
}
@media (max-width: 425px) {
  .heat .progress__blocks {
    height: 200vh;
  }
}
.heat .progress__block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  background: none;
}
@media (max-width: 1280px) {
  .heat .progress__block {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .heat .progress__block {
    height: 630px;
  }
}
@media (max-width: 425px) {
  .heat .progress__block {
    height: 1100px;
  }
}
.heat .progress__block-item {
  width: 200px;
  height: 200px;
  color: black;
}
.heat .progress__block-item .progress-p {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px 0;
}
.heat .progress__block-item .progress-p-small {
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px 0;
}
.heat .progress__block-item .heat__img {
  width: 110px;
  height: 110px;
}
@media (max-width: 1280px) {
  .heat .progress__block-item {
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .heat .progress__block-item {
    width: 240px;
  }
}
@media (max-width: 768px) {
  .heat .progress__block-item {
    width: 200px;
  }
}
.heat .progress__block-item2 {
  width: 200px;
  height: 200px;
  color: black;
}
.heat .progress__block-item2 .progress-p {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px 0;
}
.heat .progress__block-item2 .progress-p-small {
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px 0;
}
.heat .progress__block-item2 .heat__img {
  width: 110px;
  height: 110px;
}
@media (max-width: 1280px) {
  .heat .progress__block-item2 {
    width: 320px;
    margin: 10px 0;
  }
}
@media (max-width: 768px) {
  .heat .progress__block-item2 {
    margin: 0 0;
  }
}
.heat .progress__description {
  margin: 50px 0;
}
@media (max-width: 1024px) {
  .heat .progress__description {
    margin: 50px -60px;
  }
}
@media (max-width: 768px) {
  .heat .progress__description {
    margin: 50px 20px;
  }
}
@media (max-width: 425px) {
  .heat .progress__description {
    margin: 50px 0px;
    padding: 0 20px;
    width: 100%;
  }
}
.heat .progress__description .progress-p--bold {
  font-family: Futura PT;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 10px 0;
}
@media (max-width: 425px) {
  .heat .progress__description .progress-p--bold {
    font-size: 22px;
    line-height: 26px;
  }
}
.heat .progress__description .progress-p {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0;
}
@media (max-width: 768px) {
  .heat .progress__description .progress-p {
    width: 530px;
  }
}
@media (max-width: 425px) {
  .heat .progress__description .progress-p {
    width: 100%;
    font-size: 18px;
    line-height: 23px;
  }
}
.heat .progress__description .progress__procent {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid #FF3333;
  width: 900px;
  height: 80px;
  padding: 10px;
}
@media (max-width: 768px) {
  .heat .progress__description .progress__procent {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .heat .progress__description .progress__procent {
    margin: 20px 0;
    overflow-x: auto;
  }
}
.heat .progress__description .progress__procent .progress__procent-p {
  margin: 10px 0;
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 425px) {
  .heat .progress__description .progress__procent .progress__procent-p {
    margin: 0 0;
    width: 120px;
  }
}
.heat .progress__description .progress__procent .progress__procent-block {
  margin: 0px 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  width: auto;
}
@media (max-width: 768px) {
  .heat .progress__description .progress__procent .progress__procent-block {
    margin: 0px 10px;
  }
}
.heat .progress__description .progress__procent .progress__procent-block .procent-block-red {
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF3333;
  width: 70px;
}
@media (max-width: 768px) {
  .heat .progress__description .progress__procent .progress__procent-block .procent-block-red {
    width: 70px;
  }
}
.heat .progress__description .progress__procent .progress__procent-block .procent-block-grey {
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: grey;
  width: 70px;
}
@media (max-width: 768px) {
  .heat .progress__description .progress__procent .progress__procent-block .procent-block-grey {
    width: 70px;
  }
}
.heat .test__img {
  width: 160px;
  height: 120px;
}
.road {
  background: url('../images/road__bg.png') no-repeat;
  background-size: cover;
  height: 140vh;
  padding: 100px 0;
}
@media (max-width: 1600px) {
  .road {
    height: 160vh;
  }
}
@media (max-width: 1024px) {
  .road {
    height: 220vh;
  }
}
@media (max-width: 768px) {
  .road {
    height: 100vh;
  }
}
@media (max-width: 425px) {
  .road {
    height: 84vh;
    background-size: 268%;
  }
}
@media (max-width: 375px) {
  .road {
    height: 80vh;
    background-size: 275%;
  }
}
.road .road__inner {
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 768px) {
  .road .road__inner {
    align-items: center;
  }
}
.road .road__inner .road__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 768px) {
  .road .road__inner .road__title {
    flex-flow: row wrap;
  }
}
.road .road__inner .road__title .road__title-h2 {
  font-family: Lato;
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 143px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
@media (max-width: 425px) {
  .road .road__inner .road__title .road__title-h2 {
    font-size: 50px;
    line-height: 65px;
  }
}
.road .road__inner .road__title .road__title-p {
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  width: 300px;
  margin-top: 50px;
}
@media (max-width: 425px) {
  .road .road__inner .road__title .road__title-p {
    font-size: 16px;
    line-height: 20px;
  }
}
.road .road__inner .road__blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .road .road__inner .road__blocks {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: none;
  }
}
.road .road__inner .road__blocks .road__block {
  width: 250px;
  height: 260px;
  margin: 30px 0;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 768px) {
  .road .road__inner .road__blocks .road__block {
    width: inherit;
  }
}
.road .road__inner .road__blocks .road__block .road__block-p--small {
  font-family: Futura PT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  width: 100%;
  height: 10%;
  color: white;
}
.road .road__inner .road__blocks .road__block .road__block-p {
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: -75px;
  margin-left: -12px;
  width: 100%;
  height: 45%;
}
.road .road__inner .road__blocks .road__block .q11 {
  margin-top: -85px;
}
.road .slick-slide {
  width: 220px !important;
  height: 260px !important;
  margin: 0 20px !important;
}
.road .prev {
  width: 65px;
  height: 60px;
  margin-right: 30px;
  background: url('../images/arrow-left.png') no-repeat;
}
@media (max-width: 425px) {
  .road .prev {
    width: 40px;
    height: 40px;
    background-size: 100%;
    margin-right: 15px;
  }
}
.road .next {
  width: 65px;
  height: 60px;
  margin-left: 30px;
  background: url('../images/arrow-right.png') no-repeat;
}
@media (max-width: 425px) {
  .road .next {
    width: 40px;
    height: 40px;
    background-size: 100%;
    margin-left: 15px;
  }
}
.road .road__block {
  display: inline-flex !important;
}
.road .road__block .road__block-p {
  margin-left: -52px;
}
.road .draggable {
  width: 520px;
}
.road .slick-prev {
  width: 60px;
  height: 60px;
  background: url('../images/arrow-left.png') no-repeat;
  left: 0;
}
.road .slick-next {
  width: 60px;
  height: 60px;
  background: url('../images/arrow-right.png') no-repeat;
  right: 0;
}
.road .slick-next:before,
.road .slick-prev:before {
  content: '';
}
.road .road__blocks2 {
  display: none;
}
@media (max-width: 768px) {
  .road .road__blocks2 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.road .road__blocks2 .road__block {
  width: 250px;
  height: 260px;
  margin: 30px 0;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 768px) {
  .road .road__blocks2 .road__block {
    width: inherit;
  }
}
.road .road__blocks2 .road__block .road__block-p--small {
  font-family: Futura PT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  width: 100%;
  height: 10%;
  color: white;
}
.road .road__blocks2 .road__block .road__block-p {
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: -75px;
  margin-left: -12px;
  width: 100%;
  height: 45%;
}
.road .road__blocks2 .road__block .q11 {
  margin-top: -85px;
}
.road .road__blocks2 .slick-slide {
  width: 220px !important;
  height: 260px !important;
  margin: 0 20px !important;
}
@media (max-width: 425px) {
  .road .road__blocks2 .slick-slide {
    width: 190px !important;
    height: 270px !important;
    margin: 0px 0px !important;
  }
}
.road .road__blocks2 .road__block {
  display: inline-flex !important;
}
@media (max-width: 425px) {
  .road .road__blocks2 .road__block {
    background-size: 135%;
  }
}
.road .road__blocks2 .road__block .road__block-p {
  margin-left: 0px;
}
.road .road__blocks2 .draggable {
  width: 520px;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .road .road__blocks2 .draggable {
    width: 190px;
    margin: 0 auto;
  }
}
.road .road__blocks2 .slick-prev {
  width: 60px;
  height: 60px;
  background: url('../images/arrow-left.png') no-repeat;
  left: 0;
}
.road .road__blocks2 .slick-next {
  width: 60px;
  height: 60px;
  background: url('../images/arrow-right.png') no-repeat;
  right: 0;
}
.road .road__blocks2 .slick-next:before,
.road .road__blocks2 .slick-prev:before {
  content: '';
}
.footer {
  padding: 100px 0px 20px 0px;
  background: url('../images/footer-bg.jpg') no-repeat;
  background-size: cover;
}
@media (max-width: 1600px) {
  .footer {
    margin-top: -10px;
  }
}
@media (max-width: 425px) {
  .footer {
    padding: 1px 0px 20px 0px;
  }
}
@media (max-width: 1280px) {
  .footer .logo {
    display: none;
  }
}
.footer .adapt2 {
  margin-left: -40px;
}
.footer .adapt-img {
  position: relative;
  left: 100px;
}
.footer .footer__inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 100px 0;
}
@media (max-width: 425px) {
  .footer .footer__inner {
    margin: 0px;
  }
}
.footer .pre2 {
  padding-top: 50px;
  margin-left: -200px;
  font-family: Lato;
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 143px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  height: 520px;
}
@media (max-width: 768px) {
  .footer .pre2 {
    font-size: 72px;
  }
}
@media (max-width: 425px) {
  .footer .pre2 {
    font-size: 35px;
    line-height: 45px;
    height: auto;
  }
}
.footer .header__main-form {
  width: 250px;
  height: 70px;
  margin: 30px 0;
}
.footer .header__main-form .header__main-input {
  width: inherit;
  height: inherit;
  background: #FF3333;
  color: white;
}
.footer .footer__link {
  color: #FF3333;
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  margin: 10px 0;
}
